.git
.DS_Store
.idea
.vscode

camunda-modeler

**/.venv
**/__pycache__
**/node_modules
**/dist
**/target
**/*.log
**/*.pid

!web_backend/target
!web_backend/target/admin-template-0.0.1-SNAPSHOT.jar

deploy/pilot/*.env
